[data]
    name = "geonaut"
    # Prompts for true/false. Defaults to true if you just hit enter.
    install_languages = {{ promptBoolOnce . "install_languages" "Install programming languages (Rust, Python, Go)?" true }}

    # You could even add a 'workstation' flag for more granularity
    is_server = {{ promptBoolOnce . "is_server" "Is this a headless server?" false }}
    low_fidelity = {{ promptBoolOnce . "low_fidelity" "Use robust/low-fidelity UI (skip powerline glyphs)?" false }}
    using_bazel = {{ promptBoolOnce . "using_bazel" "Will you be using Bazel?" false }}
    using_k8s = {{ promptBoolOnce . "using_k8s" "Will you be using K8s?" false }}

{{ if eq .chezmoi.os "darwin" -}}
    scriptTempDir = "~/.config/chezmoi/tmp"
{{ end -}}
