{{- if eq .chezmoi.os "darwin" -}}
# Command-line tools
brew "git"
brew "zsh"
brew "chezmoi"
brew "jq"
brew "tmux"
brew "htop"
brew "wget"
# brew "podman"
# brew "docker"
brew "eza"
brew "fzf"
brew "bat"
brew "starship"
brew "awscli"
brew "shellcheck"
brew "yazi"
brew "fd"
brew "ripgrep"
brew "zoxide"
brew "sevenzip"
brew "libpq"
brew "watch"

{{ if .using_tf -}}
tap "hashicorp/tap"
brew "hashicorp/tap/terraform"
{{- end }}

{{ if .using_bazel -}}
brew "ibazel"
brew "bazelisk"
{{- end }}

{{ if .using_k8s -}}
brew "kubernetes-cli"
brew "kubectx"
brew "stern"
brew "eksctl"
brew "helm"
tap "derailed/k9s"
brew "derailed/k9s/k9s"
{{- end }}

{{ if .install_languages -}}
brew "pyenv"
brew "rustup-init"
brew "goenv"
{{- end }}

# Applications (Casks)
cask "visual-studio-code"
cask "ghostty"
cask "font-hack-nerd-font"
cask "gcloud-cli"
{{ end -}}

brew "yazi"
brew "fd"
brew "ripgrep"
brew "zoxide"
brew "sevenzip"
