{{- if eq .chezmoi.os "darwin" -}}
# Command-line tools
brew "git"
brew "zsh"
brew "chezmoi"
brew "jq"
brew "tmux"
brew "htop"
brew "wget"
brew "kubernetes-cli"
brew "podman"
brew "docker"
brew "eza"
brew "fzf"
brew "bat"
brew "starship"

{{ if .using_bazel -}}
brew "ibazel"
brew "bazelisk"
{{- end }}

{{ if .install_languages -}}
brew "pyenv"
brew "rustup-init"
brew "goenv"
{{- end }}

# Applications (Casks)
cask "visual-studio-code"
cask "ghostty"
cask "font-hack-nerd-font"
cask "gcloud-cli"
{{ end -}}
