{{ if eq .chezmoi.os "linux" -}}
    {{ include "p10k_linux.zsh.tmpl" . }}

{{ else if eq .chezmoi.os "darwin" -}}
    {{ include "p10k_macos.zsh.tmpl" . }}
    
{{ else -}}
    # Fallback/Default content or an error message
{{ end -}}