[tools]
go = "1.24.0"
python = "3.10.13"
rust = "latest"
node = "lts" # Mason likes having Node available for some LSPs

[settings]
# This ensures mise is fast and plays nice with Neovim
experimental = true
asdf_compat = true
